<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="./tests/Rollen/Biter/Tests/TestInit.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Biter Test Suite">
            <directory>./tests/Rollen/Biter/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
